!!!5
%html
  %head
    %title Tom Rix / rixth - San Franciscan software developer
    %meta{:name => 'description', :content => 'The personal page of Tom Rix, a Kiwi software engineer living in San Francisco.'}
    %link{:href => 'style.css', :type => 'text/css', :rel => 'stylesheet'}
  %body
    #container
      %h1 Tom Rix
      %p This marks my official home on the Internet. You can email me at <a href="mailto:tom@rixth.org">tom@rixth.org</a>.
      %p I currently <a href="http://www.linkedin.com/in/tomrix">work</a> as a front end software engineer in the Bay Area. I am not currently seeking other opportunities.
      %p I cycle, read, <a href="http://github.com/rixth">code</a>, <a href="http://www.flickr.com/photos/79329007@N00/">photograph</a>, <a href="http://last.fm/user/rixth">listen</a> &amp; rawk.
      %h2 Selected code
      %dl        
        - @git.each do |repo|
          %dt
            %h3
              %a{:href => repo['url']}= repo['name']
            %span
              = "#{repo['watchers']} watchers"
          %dd&= repo['description']
        %dt
          %h3
            %a{:href => 'https://github.com/rixth/rixth.org'} rixth.org
          %span -1 watchers
        %dd The code that runs this website!
    :javascript
      var _gaq = _gaq || [];
      _gaq.push(['_setAccount', 'UA-22067304-1']);
      _gaq.push(['_trackPageview']);

      (function() {
        var ga = document.createElement('script'); ga.type = 'text/javascript'; ga.async = true;
        ga.src = ('https:' == document.location.protocol ? 'https://ssl' : 'http://www') + '.google-analytics.com/ga.js';
        var s = document.getElementsByTagName('script')[0]; s.parentNode.insertBefore(ga, s);
      })();