body {
  font-family: "Helvetica Neue", "Lucida Grande", "Arial";
  background: #F8F8F8;
  background: #ECE9E9 -webkit-gradient(linear, 0% 0%, 0% 100%, from(#fff), to(#ECE9E9))  no-repeat;
  background: #ECE9E9 -moz-linear-gradient(top, #fff, #ECE9E9) no-repeat;
  color: #555;
  margin: 0;
  text-align:justify;
  -webkit-text-stroke: 1px rgba(255, 255, 255, 0.1);
}

#container {
  margin: 0 auto;
  width: 730px;
}

h1 {
  font-size: 3.8em;
  color: #121621;
  margin-bottom: 3px;
  text-shadow: 1px 1px 0px #ccc;
}

a {
  color: #690;
}
a:hover {
  border-bottom: 1px solid #690;
}

.download {
  float: right;
}

pre {
  background: #000;
  color: #fff;
  padding: 15px;
}
pre a {
  color: white;
}
pre a:hover {
  color: #888;
}

dl {
  margin-bottom: 25px;
}

dl a {
  font-size: 1.3em;
}
dl span {
  font-size: 0.8em;
  font-weight: bold;
}
dl dd {
  margin-bottom: 10px;
}